@import '../application.scss';

.pin-tile-container-hide {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px;
  opacity: 0.0;
}

.pin-tile-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 15px;
}

.pin-tile-content {
  height: 100px;
  background-color: $color-test;
}
